<p style="color: green"><%= notice %></p>

<%= render @cliente %>

<div>
  <%= link_to "Editar cliente", edit_cliente_path(@cliente) %> |
   <%= link_to "Volte ao inicio", inicio_path%>

  <%= button_to "Destroy", @cliente, method: :delete%>
</div>
